{% extends "admin/layout.html" %} {% block content %}
<style>
    .img-fluid img {
        filter: blur(3px);
    }
</style>
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18"><i class="bx bx-book-bookmark"></i> Data Kontrol Perkara </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Data Kontrol Perkara</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-tambah"><i class="bx bx-plus"></i> Tambah Laporan Perkara</button>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="btn-atensi" value="1">
                                        <label class="form-check-label" for="SwitchCheckSizelg">Atensi</label>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        
                        <div class="table-responsive">
                            <table id="dataperkara" class="table table-bordered dt-responsive w-100">
                                <thead class="table-light">
                                <tr>
                                    <th>No. Laporan</th>
                                    <th>Tgl. Laporan</th>
                                    <th>Pelapor</th>
                                    <th>TKP</th>
                                    <th>Kronologis</th>
                                    <th>Terlapor</th>
                                    <th>Pasal</th>
                                    <th>Penyidik</th>
                                    <th>Sudah Dilakukan</th>
                                    <th>Hambatan</th>
                                    <th>Keterangan</th>
                                    <th>LP</th>
                                    <th>L1</th>
                                    <th>Atensi</th>
                                    <th>P21</th>
                                    <th>SP3</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true" id="modal-tambah" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Data Perkara</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-perkara">
                            <input type="hidden" id="id_perkara">
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="lp" value="1">
                                            <label class="form-check-label" for="customCheckcolor1">
                                                LP
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="l1" value="1">
                                            <label class="form-check-label" for="customCheckcolor1">
                                                L1
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Nomor Laporan</label>
                                <input type="text" class="form-control" id="no-laporan" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Tanggal Laporan</label>
                                <input type="date" class="form-control" id="tgl-laporan" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Pelapor</label>
                                <textarea class="form-control" id="pelapor" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">TKP</label>
                                <textarea class="form-control" id="tkp" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Kronologis</label>
                                <textarea class="form-control" id="kronologis" rows="5"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Terlapor</label>
                                <textarea class="form-control" id="terlapor" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Pasal</label>
                                <input type="text" class="form-control" id="pasal" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Penyidik</label>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="AIPDA EKA PRATAMA">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        AIPDA EKA PRATAMA
                                    </label>
                                </div>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="BRIPKA EKA YOHAN SETIONO, Spd.">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        BRIPKA EKA YOHAN SETIONO, Spd.
                                    </label>
                                </div>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="BRIPKA HERDIANSYAH. SH.">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        BRIPKA HERDIANSYAH. SH.
                                    </label>
                                </div>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="BRIPKA DOHAR BACIN, SH.">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        BRIPKA DOHAR BACIN, SH.
                                    </label>
                                </div>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="BRIGADIR YEPPI SEPTIYANDI, SH.">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        BRIGADIR YEPPI SEPTIYANDI, SH.
                                    </label>
                                </div>
                                <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                    <input class="form-check-input" type="checkbox" name="penyidik" value="BRIPTU ARI KHAERUL R.">
                                    <label class="form-check-label" for="customCheckcolor1">
                                        BRIPTU ARI KHAERUL R.
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Sudah Dilakukan</label>
                                <textarea class="form-control" id="sudah" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Hambatan</label>
                                <textarea class="form-control" id="hambatan" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formrow-firstname-input" class="form-label">Keterangan</label>
                                <textarea class="form-control" id="keterangan" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="atensi" value="1">
                                            <label class="form-check-label" for="customCheckcolor1">
                                                Atensi
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="p21" value="1">
                                            <label class="form-check-label" for="customCheckcolor1">
                                                P21
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="sp3" value="1">
                                            <label class="form-check-label" for="customCheckcolor1">
                                                SP3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                        <div class="">
                            <button type="submit" class="btn btn-primary w-md" onclick="addperkara()"><i class="bx bx-check fs-4"></i> Simpan Laporan</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div> <!-- container-fluid -->
</div>

{% endblock %}