{% extends "admin/petugas/layout.html" %} {% block content %}
<div class="page-content" style="padding-top: 0;">
    <div class="">

        <div class="row">
            <div class="col-xl-4">
                <div class="card border overflow-hidden border-warning" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.848), rgba(51, 46, 1, 0.689)), url('{{baseURL}}/assets/images/ilovepolrescimahi.jpg'); background-repeat: round;">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="profile-user-wid mb-4" style="padding-left: 30%;padding-right: 30%;margin-top: 10%;">
                                    <img src="{{baseURL}}/assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle" >
                                </div>
                                <p class="text-white mb-0 text-truncate text-center">POLISI RW POLRES CIMAHI</p>
                                <p class="text-white mb-0 text-truncate text-center">Alamat</p>
                                <br/>
                                <h5 class="font-size-24 text-white text-center">JOHN DOE</h5>
                                <br/>
                                <h5 class="font-size-15 text-center text-warning">KAMI HADIR DAN SIAP MELAYANI</h5>
                                <h5 class="font-size-15 text-center text-warning">LAPORKAN KEPADA KAMI JIKA TERJADI GANGGUAN KEAMANAN DAN KETERTIBAN MASYARAKAT</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <div class="card border overflow-hidden border-warning">
                    <div class="card-body">
                        <div class="vstack gap-2 col-md-5 mx-auto">
                            <button type="button" class="btn btn-outline-warning "><i class="bx bxl-instagram bx-flashing font-size-24" style="padding-top: 10px;"></i><p>INSTAGRAM POLRES CIMAHI</p></button>
                            <a type="button" class="btn btn-success "><i class="bx bxl-whatsapp bx-flashing font-size-24" style="padding-top: 10px;"></i><p>POLISI RW</p></a>
                            <a type="button" class="btn btn-success"><i class="bx bxl-whatsapp bx-flashing font-size-24" style="padding-top: 10px;"></i><p>BHABINKAMTIBNAS</p></a>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

{% endblock %}