<div class="vertical-menu">

	<div data-simplebar class="h-100">

		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Menu</li>

				<li>
					<a href="dashboard" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						<span key="t-dashboards">Dashboards</span>
					</a>
					
				</li>

				<li>
					<a href="bukutamu" class="waves-effect">
						<i class="bx bx-book-bookmark"></i>
						<span key="t-layouts">Buku Tamu</span>
					</a>
				</li>

				<li>
					<a href="kepuasan" class="waves-effect">
						<i class="bx bx-list-check"></i>
						<span key="t-layouts">Index Kepuasan</span>
					</a>
				</li>

			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>