{% extends "admin/layout.html" %} {% block content %}
<style>
  .rating {
   width: 180px;
   font-size:150%;
}

.rating__star {
   cursor: pointer;
}

.star-active {
  color: #dabd18b2;

}

.star-inactive {
  
  color: #7a7a7ab3;

}
</style>
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>
  <input type="hidden" id="isRole" value="{{role}}">
  <ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Survey Kepuasan</li>
	</ul><!-- /.breadcrumb -->

  <!-- #section:basics/content.searchbox -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
      </span>
    </form>
  </div><!-- /.nav-search -->

</div>

<div class="page-content">
  <input hidden id="userid" value="{{userid}}">
  <input hidden id="role" value="{{role}}">
  <div class="page-header">
    <h1>
     Survey Kepuasan
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        overview &amp; stats
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12 widget-container-col" >
      <div class="widget-box widget-color-orange">
        <div class="widget-header">
					<div class="widget-toolbar no-border">
            {% if role == 1 %}
						<!-- <button  id="initambah" class="btn btn-xs btn-inverse bigger" data-toggle="modal" data-target="#modal_program">
							<i class="ace-icon fa fa-plus"></i>
							Tambah Permohonan
						</button> -->
            {% endif %}
					</div>
				</div>
        <div class="widget-body">
          <div class="widget-main">
            {% if role == 1 or role == 2 %}
            <input type="hidden" id="idpermohonan">
            <input type="hidden" id="initype">
            
            <form class="form-horizontal" role="form" id="">
              <!-- #section:elements.form -->
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="kode_program"> Nilai Kepuasan </label>
    
                <div class="col-sm-6">
                  <div class="rating">
                    <i class="rating__star star-inactive fa fa-star"></i>
                    <i class="rating__star star-inactive fa fa-star"></i>
                    <i class="rating__star star-inactive fa fa-star"></i>
                    <i class="rating__star star-inactive fa fa-star"></i>
                    <i class="rating__star star-inactive fa fa-star"></i>
                  </div>
                </div>
              </div>
    
              <div class="form-group hide">
                <label class="col-sm-3 control-label no-padding-right" for=""> Tingkat Kepuasan </label>
    
                <div class="col-sm-6">
                  <select class="chosen-select form-control" id="tingkat_kepuasan"  data-placeholder="Pilih ...">
                    <option value="0"> Tidak Puas </option>
                    <option value="1"> Kurang Puas </option>
                    <option value="2"> Puas </option>
                    <option value="3"> Sangat Puas </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> Catatan </label>
    
                <div class="col-sm-6">
                  <input type="text" id="catatan" placeholder="" class="form-control">
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""></label>
    
                <div class="col-sm-6">
                  <button type="button" id="kepuasan_save" class="btn btn-xs btn-success btn-block" ><i class="ace-icon fa fa-check"></i>submit</button>

                </div>
              </div>
    
    
            </form>
            
            {% else %}
            <div class="table-responsive">
            <table id="all-kepuasan" class="table table-striped table-bordered nowrap table-responsive">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai Kepuasan</th>
                        <!-- <th>Tingkat Kepuasan</th> -->
                        <th>Catatan</th>
                    </tr>
                </thead>
            </table>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div id="modal_program" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Permohonan Persetujuan Teknis Pemenuhan Baku Mutu Air Limbah</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="kode_program"> Nama Badan Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_1" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Bidang Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_2" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nomor Induk Berusaha </label>

						<div class="col-sm-9">
							<input type="text" id="input_3" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nama Penanggung Jawab Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_4" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Jabatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_5" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Alamat Kantor dan Lokasi Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_6" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> No. Telepon </label>

						<div class="col-sm-9">
							<input type="text" id="input_7" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Email </label>

						<div class="col-sm-9">
							<input type="text" id="input_8" placeholder="" class="form-control">
						</div>
					</div>


				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
        <button type="button" id="mohon_save" class="btn btn-xs btn-success" ><i class="ace-icon fa fa-check"></i>submit</button>
      </div>
    </div>

  </div>
</div>

<div id="modal_file" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <center><i class="ace-icon fa fa-file green "></i>
            Dokumen Unggahan</center>
            <input type="hidden" id="ini-ID">
        </h4>
      </div>
      <div class="modal-body">


              <ul class="nav nav-tabs" id="myTab">
                <li class="active" id="kajian-teknis">
                  <a data-toggle="tab" href="#kajian" aria-expanded="true">Kajian Teknis</a>
                </li>

                <li class="" id="standar-teknis">
                  <a data-toggle="tab" href="#standar" aria-expanded="false">Standar Teknis</a>
                </li>

              </ul>
              <div class="tab-content">
                <div id="kajian" class="tab-pane active">
                  {% if role == 1 or role == 2 %}

                    <div class="form-group row">
                      <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Dokumen Kajian Teknis </label>
          
                      <div class="col-xs-4">
                        <select class="chosen-select form-control" id="bab_kajian"  data-placeholder="Pilih Dokumen ...">
                          <option value=""> </option>
                          <option value="1"> Deskripsi rencana kegiatan </option>
                          <option value="2"> Rona Lingkungan Awal </option>
                          <option value="3"> Prakiraan Dampak </option>
                          <option value="4"> Rencana Pemantauan Lingkungan </option>
                          <!-- <option value="5">BAB 5</option> -->
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <input type="file" name="id-input-file-3" id="doc_kajian" />
                      </div>
                      <div class="col-xs-2">
                        <button disabled type="button" class="btn btn-xs btn-success" id="submit_kajian"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                    </div>
                  {% endif %}
                  
                  <table id="data-file-kajian" class="table table-striped table-bordered nowrap table-responsive">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Dokumen</th>
                            <th>Nama File</th>
                            <!-- <th>Size</th> -->
                            <th>Status</th>
                            <th>Tanggal Input</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                  </table>

                  {% if role == 1 or role == 2 %}
                  <div class="widget-box">
                  <div class="widget-body">
                  <div class="form-group row" id="edit_group_kajian" hidden style="padding: 20px 1px 0px 10px;">
                      <label class="col-sm-3 control-label no-padding-right" for=""> <b>Revisi Dokumen</b> </label>
          
                      <div class="col-xs-2">
                        <input type="text" id="bab_edit_kajian" placeholder="" class="form-control" disabled>
                        <input type="hidden" id="id_edit_kajian" disabled>
                        <input type="hidden" id="path_edit_kajian" disabled>
                        <input type="hidden" id="type_edit_kajian" disabled>
                      </div>
                      <div class="col-xs-5">
                        <input type="file" name="id-input-file-3" id="edit_file_kajian" />
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-xs btn-success" id="submit_edit_kajian"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  {% endif %}
                </div>

                <div id="standar" class="tab-pane">

                  {% if role == 1 or role == 2 %}

                  <div class="form-group row">
                    <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Dokumen Standar Teknis </label>
        
                    <div class="col-xs-2">
                      <select class="chosen-select form-control" id="bab_standar"  data-placeholder="Pilih BAB ...">
                        <option value=""> </option>
                        <option value="1">BAB 1</option>
                        <option value="2">BAB 2</option>
                        <option value="3">BAB 3</option>
                        <option value="4">BAB 4</option>
                        <option value="5">BAB 5</option>
                      </select>
                    </div>
                    <div class="col-xs-5">
                      <input type="file" name="id-input-file-4"  id="doc_standar" />
                    </div>
                    <div class="col-xs-2">
                        <button disabled type="button" class="btn btn-xs btn-success" id="submit_standar"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                  </div>

                  {% endif %}

                  <table id="data-file-standar" class="table table-striped table-bordered nowrap table-responsive">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>BAB</th>
                            <th>Nama File</th>
                            <!-- <th>Size</th> -->
                            <th>Status</th>
                            <th>Tanggal Input</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                  </table>

                  {% if role == 1 or role == 2 %}
                  <div class="widget-box">
                  <div class="widget-body">
                  <div class="form-group row" id="edit_group_standar" hidden style="padding: 20px 1px 0px 10px;">
                      <label class="col-sm-3 control-label no-padding-right" for=""> <b>Revisi Dokumen</b> </label>
          
                      <div class="col-xs-2">
                        <input type="text" id="bab_edit_standar" placeholder="" class="form-control" disabled>
                        <input type="hidden" id="id_edit_standar" disabled>
                        <input type="hidden" id="path_edit_standar" disabled>
                        <input type="hidden" id="type_edit_standar" disabled>
                      </div>
                      <div class="col-xs-5">
                        <input type="file" name="id-input-file-3" id="edit_file_standar" />
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-xs btn-success" id="submit_edit_standar"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  {% endif %}

                </div>

              </div>


      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
      </div>
    </div>

  </div>
</div>


<div id="modal_file_lapangan" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <center><i class="ace-icon fa fa-file green "></i>
            Dokumen BA & Pertek</center>
            <input type="hidden" id="ini-ID-lapangan">
        </h4>
      </div>
      <div class="modal-body">
                {% if role == 1 or role == 2 %}

                      <table id="data-file-doc-lapangan" class="table table-striped table-bordered nowrap table-responsive">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Keterangan dan Catatan</th>
                                <th>Nama File</th>
                                <th>Tanggal Input</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                      </table>

                  
                    {% else %}
                    
                    <div class="widget-main" id="ini-doc-ver-lapangan">
                      <div class="widget-body">
                        <div class="form-group row">
                          <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Dokumen Verifikasi Lapangan </label>
                          
                          <div class="col-xs-4">
                            <input type="file" name="id-input-file-6" id="doc_lapangan" />
                          </div>

                          <div class="col-xs-3">
                            <input type="text" id="keterangan_lapangan" placeholder="Keterangan dan Catatan" class="col-xs-12">
                          </div>
                          
                          <div class="col-xs-2">
                            <button disabled type="button" class="btn btn-xs btn-success" id="submit_doc_lapangan"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                          </div>
                        </div>
                      </div>

                    </div>

                  <table id="data-file-doc-lapangan" class="table table-striped table-bordered nowrap table-responsive">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Keterangan dan Catatan</th>
                            <th>Nama File</th>
                            <th>Tanggal Input</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                  </table>

                  {% endif %}


  

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
      </div>

    </div>
      
  </div>
</div>

</div>

</div>
<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
