<header id="page-topbar">
	<div class="navbar-header">
		<div class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href="survey" class="logo logo-dark">
					<span class="logo-sm">
						<img src="{{baseURL}}/assets/img/logo-dark.png" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src="{{baseURL}}/assets/img/logo-dark.png" alt="" height="17">
					</span>
				</a>

				<a href="survey" class="logo logo-light">
					<span class="logo-sm">
						<img src="{{baseURL}}/assets/img/logo-dark.png" alt="" height="20">
					</span>
					<span class="logo-lg">
						<img src="{{baseURL}}/assets/img/logo-dark.png" alt="" height="19">
					</span>
				</a>
			</div>
		</div>

	</div>
</header>