{% extends "admin/survey/layout.html" %} {% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h3 class="mb-sm-0 font-size-18 text-center fw-bolder">INDEX KEPUASAN MASYARAKAT SENTRA PELAYANAN KEPOLISIAN TERPADU</h3>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
                        <div class="col-xl-12">
                <div class="card overflow-hidden border border-warning">
                    <div class="bg-dark">
                        <div class="row">
                            
                            <!-- <div class="col-12">
                                <img src="{{baseURL}}/assets/img/presisi.png" alt="" class="img-fluid">
                            </div> -->
                            <div class="col-12">
                                <h6 class="text-light p-4 text-center">
                                    "KEPUASAN ANDA ADALAH KOMITMEN KAMI"
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <td><img src="{{baseURL}}/assets/img/kapolres.jpg" alt="" class="img-thumbnail rounded"></td>
                                            <!-- <td><img src="{{baseURL}}/assets/img/kapolres.jpg" alt="" class="img-thumbnail rounded"></td> -->
                                        </tr>
                                        <tr>
                                            <td class="text-center">AKBP ALDI SUBARTONO, S.H., S.I.K., M.H., CPHR</td>
                                            <!-- <td class="text-center">AKBP ALDI SUBARTONO, S.H., S.I.K., M.H., CPHR</td> -->
                                        </tr>
                                        <tr>
                                            <td class="text-center mb-sm-0 font-size-12"><b>KAPOLRES CIMAHI</b></td>
                                            <!-- <td class="text-center mb-sm-0 font-size-12"><b>WAKAPOLRES CIMAHI</b></td> -->
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="profile-user-wid mb-4">
                                    <img src="{{baseURL}}/assets/img/kapolres.jpg" alt="" class="img-thumbnail rounded">
                                </div>
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="mb-sm-0 font-size-15 text-center">AKBP ALDI SUBARTONO, S.H., S.I.K., M.H., CPHR</h4>
                                        </div>
                                        <div class="col-12">
                                            <h5 class="mb-sm-0 font-size-14 text-center">KAPOLRES CIMAHI</h5>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-xl-12">
                <div class="card border border-warning">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Silahkan Masukan Identitas</h4>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="nomor" placeholder="NIK E-KTP/ Nomor Telepon">
                            <label for="floatingnameInput">Nomor Telepon</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="jenis_kelamin" aria-label="Floating label select example">
                                <option selected>Pilih...</option>
                                <option value="L">Laki - laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                            <label for="floatingSelectGrid">Jenis Kelamin</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="pendidikan" aria-label="Floating label select example">
                                <option selected>Pilih...</option>
                                <option value="SD">SD</option>
                                <option value="SMP">SMP</option>
                                <option value="SMA">SMA</option>
                                <option value="S1">S1</option>
                                <option value="S2">S2</option>
                                <option value="S3">S3</option>
                            </select>
                            <label for="floatingSelectGrid">Pendidikan</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="pekerjaan" aria-label="Floating label select example">
                                <option selected>Pilih...</option>
                                <option value="PNS">PNS</option>
                                <option value="TNI">TNI</option>
                                <option value="POLRI">POLRI</option>
                                <option value="SWASTA">SWASTA</option>
                                <option value="WIRAUSAHA">WIRAUSAHA</option>
                                <option value="LAINNYA">LAINNYA</option>
                            </select>
                            <label for="floatingSelectGrid">Pekerjaan</label>
                        </div>
                        
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->

            <div class="col-xl-12">
                <div class="card border border-warning">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Silahkan masukan penilaian anda.</h4>

                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row icon-demo-content">
                                            <div class="col-xl-12 text-center">
                                                <button onclick="emot(this, 1)" type="button" class="emot btn btn-outline-default"><i class="bx bx-smile text-warning" style="font-size:50px;"></i><b>Sangat Puas</b></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row icon-demo-content">
                                            <div class="col-xl-12 text-center">
                                                <button onclick="emot(this, 2)" type="button" class="emot btn btn-outline-default"><i class="bx bx-meh text-warning" style="font-size:50px;"></i><b>Puas</b></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row icon-demo-content">
                                            <div class="col-xl-12 text-center">
                                                <button onclick="emot(this, 3)" type="button" class="emot btn btn-outline-default"><i class="bx bx-sad text-warning" style="font-size:50px;"></i><b>Tidak Puas</b></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>

            <div class="col-xl-12">
                <div class="card border border-warning">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Silahkan masukan saran/ kritik anda.</h4>
                        <h4 class="card-title mb-4">Terima kasih</h4>

                            <div class="mb-3">
                                <textarea id="saran_kritik" class="form-control" maxlength="225" rows="7" placeholder=""></textarea>
                            </div>
                            <div class="col-sm-auto">
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-warning btn-lg waves-effect waves-light" id="kirim_survey">Kirim</button>
                                </div>
                            </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>



        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>



{% endblock %}